[submodule "ansible-opendaylight"]
	path = ansible-opendaylight
	url = https://github.com/dfarrell07/ansible-opendaylight.git
[submodule "vagrant-opendaylight"]
	path = vagrant-opendaylight
	url = https://github.com/dfarrell07/vagrant-opendaylight.git
[submodule "puppet-opendaylight"]
	path = puppet-opendaylight
	url = https://github.com/dfarrell07/puppet-opendaylight.git
[submodule "integration"]
	path = integration
	url = https://github.com/opendaylight/integration.git
